<main>
    <div class="not-found">
        <h1>404</h1>
        <h2>Ooops! Page not found</h2>
        <h3>Sorry, the recipe you are looking for is not found, please countinue exploring...</h3>
        <a class="back" href="/">Back</a>
    </div>
</main>