<!-- Starts Main Section -->
<main>
    <div class="container">
        <div class="col-9">
            {{#each photos}}
            {{>petPhoto}}
            {{else}}
            <article class="not-available-photo">
                <h1>No photo posts yet.</h1>
            </article>
            {{/each}}
            <!-- Start Pet Photos Post Section -->


            <!--If there are no photo yet!-->

        </div>

    </div>
</main>